<h3>PasswordField</h3>

Password:
<input  @oninput="OnPasswordChanged" value="@password"/>

@code {
    private bool showPassword;
    private string password;

    [Parameter]
    public string Password { get; set; }

    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }

    private async Task OnPasswordChanged(ChangeEventArgs e)
    {
        password = e.Value.ToString();
        await PasswordChanged.InvokeAsync(password);
    }

    private void ToggledShowPassword()
    {
        showPassword = !showPassword;
    }

}
